# Preprocessing
contractions
nltk
spacy

# Dades i manipulació
numpy==1.24.4
pandas

# Visualització
matplotlib
seaborn
pyLDAvis

# Models de llenguatge
gensim
transformers==4.40.1
sentence-transformers==2.6.1

# Aprenentatge automàtic
scikit-learn
